[package]
name = "sendgrid"
version = "0.10.1"
edition = "2018"
authors = ["Garrett Squire <garrettsquire@gmail.com>"]
description = "An unofficial client library for the SendGrid API"
repository = "https://github.com/gsquire/sendgrid-rs"
license = "MIT"
homepage = "https://sendgrid.com"
keywords = ["email"]
documentation = "https://docs.rs/sendgrid"
readme = "README.md"

[dependencies]
data-encoding = "2.1"
reqwest = { version = "0.10", default-features = false, features = ["json", "blocking"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
url = "2.1"
failure = "0.1"

[dev-dependencies]
tokio = { version = "0.2", features = ["macros"] }

[features]
async = []
rustls = ["reqwest/rustls-tls"]

[[example]]
name = "v3_async"
required-features = ["async"]
