on: [push, pull_request]

name: CI

jobs:
  check:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Check formatting
        run: cargo fmt --all -- --check

      - name: Check clippy
        run: cargo clippy -- -D warnings

      - name: Test async and rustls
        run: cargo test

      - name: Test async and native-tls
        run: cargo test --features native-tls

      - name: Test blocking and rustls
        run: cargo test --features blocking

      - name: Test blocking and native-tls
        run: cargo test --features blocking,native-tls
